<!-- pie de pagina -->
<footer class="bg-dark text-white py-4 position-relative">
    <div class="container text-center">
        <p class="mb-1">Contáctanos:</p>
        <div class="mb-2 ">
            <a href="mailto:impulso.visual4d@gmail.com" class="text-white text-decoration-none me-3" title="Correo">
                <i class="bi bi-envelope-fill"></i> Correo
            </a>
            <a href="https://www.instagram.com//" class="text-white text-decoration-none me-3" title="Instagram"
                target="_blank">
                <i class="bi bi-instagram"></i> Instagram
            </a>
            <a href="https://wa.me/+569" class="text-white text-decoration-none" title="WhatsApp" target="_blank">
                <i class="bi bi-whatsapp"></i> WhatsApp
            </a>
        </div>
        <p class="mb-0">&copy; 2025 Impulso Visual. Todos los derechos reservados.</p>
</footer>